@model Tuple<UserModel?, IEnumerable<UserModel>, IEnumerable<WorkModel>>
@using ShowWork.DAL_MSSQL.Models
@using ShowWork.Service
@using ShowWorkUI

@{
    ViewData["Title"] = $"Профиль {Model.Item1.Login}";
    IgnoreBody();
    string[] tagNames = new string[]
    {
        "Аналитика",
        "Фотография",
        "Графический дизайн",
        "Разработка",
        "UI/UX дизайн",
        "Другое"
    };
}

<!DOCTYPE html>
@await Component.InvokeAsync("MainMenu")
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Профиль @Model.Item1.Login</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="body_profile" >
    <div id="presection" class="pre-section">
        <!-- editing-profile вот сюда ДОПОЛНИТЕЛЬНО К УЖЕ СТОЯЩЕМУ КЛАССУ-->
        <div class="profile-info">
            <div class="profile-arrow">
                <a href="javascript:history.back()"><img src="/images/back-arrow.svg" height="35"></a>
            </div>
            <div class="nickname">
                <p class="nickname">@Model.Item1.Login</p>
            </div>
            <div class="photo">
                <form action="/profile/uploadimage" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="UserId" value="@Model.Item1.UserId" />
                    @Html.AntiForgeryToken()
                    <label for="file-input">
                        @if (!String.IsNullOrEmpty(Model.Item1.ProfileImage))
                        {
                            <div id="picture_box">
                                <img src="@Url.Content(Model.Item1.ProfileImage)" name="ImagePath" width="109" height="109" />
                            </div>
                        }
                        else
                        {
                            <div id="picture_box">
                                <img src="/images/inputImage.svg" width="115" />
                            </div>
                        }
                    </label>
                </form>
            </div>
            @if (!Model.Item2.Any(x => x.UserId == Model.Item1.UserId))
            {
                <form action="/follows/follow/@Model.Item1.UserId" method="post" enctype="multipart/form-data">
                    <button class="subscribers">Подписаться</button>
                </form>
            }
            else
            {
                <form action="/follows/unfollow/@Model.Item1.UserId" method="post" enctype="multipart/form-data">
                    <button class="subscribers">Отписаться</button>
                </form>
            }
            <div class="subscribers">
                <img class="icons" src="/images/subscribers-icon.svg" width="20">
                <p class="count-of-subsrcibers">
                    Подписчики: @Model.Item1.SubsCount
                </p>
            </div>
            
            <div class="name">
                <label id="firstNameLabel" for="firstNameInput" class="name">@Model.Item1.FirstName @Model.Item1.SecondName</label>
            </div>
            <div class="job">
                <p class="work-information">
                    <img class="profile-icons" src="/images/work-icon.svg" width="20" height="20">
                    @if (@Model.Item1.Specialization != null)
                    {
                        <span id="specLabel" for="specInput" class="note-profile">@Model.Item1.Specialization</span>
                    }
                    else
                    {
                        <span id="specLabel" for="specInput" class="note-profile">Не заполнено</span>
                    }
                </p>
            </div>
            <div class="info">
                <p class="profile-information">
                    <img class="profile-icons" src="/images/info-icon.svg" width="20" height="20">
                    @if (@Model.Item1.Description != null)
                    {
                        <span id="descLabel" for="descInput" class="note-profile">@Model.Item1.Description</span>
                    }
                    else
                    {
                        <span id="descLabel" for="descInput" class="note-profile">Не заполнено</span>
                    }
                </p>
            </div>

           
        </div>
    </div>
    @if(Model.Item1.Status == (int)ProfileStatus.Public)
    {
        <div class="row">
            <div class="profile-works">
                <div class="work-block">
                    <div class="profile-portfolio">
                        @foreach (var work in Model.Item3)
                        {
                            <div class="work">
                                <div class="portfolio-info">
                                    <div class="author">
                                        @if (!String.IsNullOrEmpty(Model.Item1.ProfileImage))
                                        {
                                            <a href="/resume/@work.UserId"><img src="@Model.Item1.ProfileImage" height="32.54" width="36.5" /></a>
                                        }
                                        else
                                        {
                                            <a href="/resume/@work.UserId"><img src="/images/inputImage.svg" height="32.54" width="36.5" /></a>
                                        }
                                        <p>@Model.Item1.FirstName @Model.Item1.SecondName</p>
                                    </div>
                                    <div>
                                        <p class="work-name">@work.Title</p>
                                        <p class="rating">@work.MiddleGrade</p>
                                    </div>
                                </div>
                                <a href="/work/@work.WorkId"> <img src="/images/image 7.png" /></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="name">
            <label>Профиль приватный, вы не можете просматривать работы пользователя</label>
        </div>
    }
    <script src="_framework/blazor.webassembly.js"></script>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="mainLogo2">
            <img src="/images/logo.png">
        </div>
        <p class="bottom-slogan">
            Show Work - Ваш путь к вдохновению и успеху в цифровом мире!
        </p>
        <div class="bottom-links">
            <a href="index.html">Главная</a>
            <a href="#">Каталог</a>
            <a href="#">Мои подписки</a>
        </div>
    </footer>
</body>
</html>

