@page "/fetchdata"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-4-grid@3.4.0/Gruntfile.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-4-grid@3.4.0/css/grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/uistyles.css">
</head>

<PageTitle>Мои работы</PageTitle>

@if (works == null)
{
    <p><em>Загрузка работ...</em></p>
}
else
{
    <div class="works">
        <label for="button" style="display: inline-block;">
            <img class="work" src="/images/создать работу.png" />
        </label>
        <button id="button" class="button" @onclick="RedirectToEdit" style="display:none;">Добавить</button>
        @foreach (var work in works)
        {
            if (work.TypeOfWork >= 0 && work.TypeOfWork < tagNames.Length)
            {
                <div>
                    <label>@tagNames[(int)work.TypeOfWork!]</label>
                    <label>@work.Title</label>
                    <label>@work.Description</label>
                    <label>@work.LikesCount</label>
                    <label>@work.CommentsCount</label>
                    <a href="#"> <img class="work" src="/images/image 7.png" /></a>
                </div>
                
                 
            }
        }
    </div>
}

@code {
    internal static List<Work>? works = null;
    private string[] tagNames = new string[] 
    { 
        "Аналитика", 
        "Фотография", 
        "Графический дизайн", 
        "Разработка", 
        "UI/UX дизайн", 
        "Другое" 
    };
    private Work editItem = new Work();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Work>>("works/my");
        if(result != null)
            works = result.ToList();
    }

    private async Task SaveItem()
    {
        await Http.PutAsJsonAsync<Work>("works/add", editItem);
        works?.Add(editItem);
        editItem = new Work();
        await OnInitializedAsync();
    }

    public class Work
    {
        public int WorkId { get; set; }
        public int UserId { get; set; }
        public int? TypeOfWork { get; set; } = 0;
        public string Title { get; set; } = null!;
        public string Description { get; set; } = null!;
        public string TextBlockOne { get; set; } = null!;
        public string TextBlockTwo { get; set; } = null!;
        public string TextBlockThree { get; set; } = null!;
        public int Status { get; set; } = 0;
        public int LikesCount { get; set; } = 0;
        public int CommentsCount { get; set; } = 0;
    }
    private void RedirectToEdit()
    {
        NavigationManager.NavigateTo("/edit", true);
    }
}
