@using ShowWork.DAL_MSSQL.Models
@model FollowsViewModel

@{
    ViewData["Title"] = "Подписки";
    IgnoreBody();

}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Подписки</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
@await Component.InvokeAsync("MainMenu")
<body class="users">
    <section class="search">
        <form method="post" action="/follows/search">
            <input class="form-control searchbar" asp-for="@Model.Text" id="TextSearchInput" placeholder="Поиск..."/>
        </form>
    </section>
    <section class="subscriptions">
        @foreach (var profile in Model.Profiles)
        {
            <div class="one-subscription">
                <div>
                    @if (!String.IsNullOrEmpty(@profile.ImagePath))
                    {
                        <a href="/resume/@profile.UserId"><img src="@profile.ImagePath" width="70" height="70"/></a>
                    }
                    else
                    {
                        <a href="/resume/@profile.UserId"><img src="images/inputImage.svg" width="70" height="70"/></a>
                    }
                </div>
                <div class="names">
                    <p class="sub-nick">@profile.Login</p>
                    <p class="sub-name">@profile.FirstName @profile.LastName</p>
                </div>
                <div>
                    <p><img src="/images/work-icon.svg">@profile.Specialization</p>
                    <p><img src="/images/info-icon.svg">@profile.Description</p>
                </div>
            </div>
        }
        <div class="button">
            <button class="more-work_button">
                ЕЩЁ
            </button>
        </div>
    </section>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="mainLogo2">
            <img src="/images/logo.png">
        </div>
        <p class="bottom-slogan">
            Show Work - Ваш путь к вдохновению и успеху в цифровом мире!
        </p>
        <div class="bottom-links">
            <a href="index.html">Главная</a>
            <a href="#">Каталог</a>
            <a href="#">Мои подписки</a>
        </div>
    </footer>
</body>
