@using ShowWork.DAL_MSSQL.Models
@model WorksViewModel

@{
    ViewData["Title"] = "Каталог";
    IgnoreBody();
    string[] tagNames = new string[]
    {
        "Аналитика",
        "Фотография",
        "Графический дизайн",
        "Разработка",
        "UI/UX дизайн",
        "Другое"
    };
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Профиль</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
@await Component.InvokeAsync("MainMenu")
<body class="profile-background">
    <form method="post" action="/catalogue/search">
        <input class="form-control" asp-for="@Model.Text" id="TextSearchInput" placeholder="Введите текст для поиска" width="800px" height="50px" />
        @Html.CheckBoxFor(model => model.Analytics) <span>Аналитика</span>
        @Html.CheckBoxFor(model => model.Develop) <span>Разработка</span>
        @Html.CheckBoxFor(model => model.GraphicDesign) <span>Графический дизайн</span>
        @Html.CheckBoxFor(model => model.UXUIDesign) <span>UX/UI Дизайн</span>
        @Html.CheckBoxFor(model => model.Photography) <span>Фотография</span>
        @Html.CheckBoxFor(model => model.Other) <span>Другое</span>
        @Html.CheckBoxFor(model => model.TimePublishedUpOrDown, false) <span>Сортировать по времени публикации</span>
        @Html.CheckBoxFor(model => model.PopularityUpOrDown, true) <span>Сортировать по популярности</span>
        @* <input id="EnableAnalytics" name="EnableAnalytics" type="checkbox" value="@Model.Analytics" asp-for="@Model.Analytics" />
        <span>Аналитика</span>
        <input name="EnableAnalytics" type="hidden" value="false" />

        <input id="EnableDevelop" name="EnableDevelop" type="checkbox" value="@Model.Develop" asp-for="@Model.Develop" />
        <span>Разработка</span>
        <input name="EnableDevelop" type="hidden" value="false" />

        <input id="EnableGraphicDesign" name="EnableGraphicDesign" type="checkbox" value="@Model.GraphicDesign" asp-for="@Model.GraphicDesign" />
        <span>Графический дизайн</span>
        <input name="EnableGraphicDesign" type="hidden" value="false" />

        <input id="EnableUXUIDesign" name="EnableUXUIDesign" type="checkbox" value="@Model.UXUIDesign" asp-for="@Model.UXUIDesign" />
        <span>UX/UI Дизайн</span>
        <input name="EnableUXUIDesign" type="hidden" value="false" />

        <input id="EnablePhotography" name="EnablePhotography" type="checkbox" value="@Model.Photography" asp-for="@Model.Photography" />
        <span>Фотография</span>
        <input name="EnablePhotography" type="hidden" value="false" />

        <input id="EnableOther" name="EnableOther" type="checkbox" value="@Model.Other" asp-for="@Model.Other" />
        <span>Другое</span>
        <input name="EnableOther" type="hidden" value="false" />

        <input id="EnableTimePublishedUpOrDown" name="EnableTimePublishedUpOrDown" type="radio" value="false" asp-for="@Model.TimePublishedUpOrDown" />
        <span>Сортировать по времени публикации</span>
        <input name="EnableTimePublishedUpOrDown" type="hidden" value="false" /> 

        <input id="EnablePopularityUpOrDown" name="EnablePopularityUpOrDown" type="radio" value="false" asp-for="@Model.PopularityUpOrDown" />
        <span>Сортировать по популярности</span>
         <input name="EnablePopularityUpOrDown" type="hidden" value="false" />  *@
        <button id="ApplyTextSearchButton" height="50px">Поиск</button>
    </form>
    <div class="rait-works">
        <div class="work-block">
            <div class="top-portfolio">
                @foreach (var work in Model.Works)
                {
                    if (work.TypeOfWork >= 0 && work.TypeOfWork < tagNames.Length)
                    {
                        <div class="work">
                            <div class="portfolio-info">
                                <div class="author">
                                    @if (!String.IsNullOrEmpty(@work.UserImagePath))
                                    {
                                        <a href="/resume/@work.UserId"><img src="@work.UserImagePath" height="32.54" width="36.5" /></a>
                                    }
                                    else
                                    {
                                        <a href="/resume/@work.UserId"><img src="images/inputImage.svg" height="32.54" width="36.5" /></a>
                                    }
                                    <p>@work.UserName @work.UserSurname</p>
                                </div>
                                <div>
                                    <p class="work-name">@work.Title</p>
                                    <p class="rating">@work.MiddleGrade</p>
                                </div>
                            </div>
                            <a href="/work/@work.WorkId"> <img src="/images/image 7.png" /></a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</body>