@using ShowWork.DAL_MSSQL.Models
@model Tuple<WorkViewModel, IEnumerable<CommentViewModel>, IEnumerable<AnswerCommentViewModel>, GradesModel, IEnumerable<ImageModel>, IEnumerable<TagModel>, FileModel>
@{
    IgnoreBody();
}

<!DOCTYPE html>
@await Component.InvokeAsync("MainMenu")
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/lib/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="/lib/codemirror/theme/eclipse.css" />
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/lib/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/edit/closetag.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/comment/comment.js"></script>

    <title>@Model.Item1.Title</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="one-work">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Обработчик отправки форм
        $('.ajax-form').on('submit', function (event) {
            // Сохранение позиции прокрутки перед отправкой формы
            localStorage.setItem('scrollPosition', $(window).scrollTop());
        });
    </script>
    <section class="one-work-info">
        <h1>@Model.Item1.Title</h1>
        <div class="about-profile">
            <img src="@Model.Item1.UserImagePath" width="35" height="35">
            <div>
                <p class="work-nickname">@Model.Item1.Login</p>
                <p class="work-author">@Model.Item1.UserName @Model.Item1.UserSurname</p>

            </div>

            <p class="category">@Model.Item1.Category</p>
            <div class="hashtags">
                @if (Model.Item6 != null)
                {
                    @foreach (var hashtag in Model.Item6)
                    {
                        <p class="hashtag">#@hashtag.Title </p>
                    }
                }
            </div>
        </div>
        <p class="description">@Model.Item1.Description</p>
    </section>
    <section class="works">
        @if(Model.Item1.PatternOfWork == 0)
        {
            <p class="addtext-analytics" oninput="autoResize(this)" rows="5" contenteditable="false">@Model.Item1.TextBlockOne</p>
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                @if (Model.Item5.Count() != 0)
                {
                    @foreach (var image in Model.Item5)
                    {
                        <div class="mySlides fade">
                            <img src="@image.Image" style="width:1000px">
                        </div>
                    }

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                }
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                @if (Model.Item5.Count() != 0)
                {
                    @for (var i = 1; i < Model.Item5.Count() + 1; i++)
                    {
                        <span class="dot" onclick="currentSlide(i)"></span>
                    }
                }
            </div>
            <script>
                var slideIndex = 1;
                showSlides(slideIndex);

                // Next/previous controls
                function plusSlides(n) {
                    showSlides(slideIndex += n);
                }

                // Thumbnail image controls
                function currentSlide(n) {
                    showSlides(slideIndex = n);
                }

                function showSlides(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    if (n > slides.length) {
                        slideIndex = 1
                    }
                    if (n < 1) {
                        slideIndex = slides.length
                    }
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active";
                }
                function autoResize(elem) {
                    // elem.style.height = '100';
                    // elem.style.height = (elem.scrollHeight+10) + 'px';
                    let result_element = document.querySelector("#highlighting-content");
                    // Handle final newlines (see article)
                    if (elem.value[elem.value - 1] == "\n") {
                        elem.value += " ";
                    }
                    // Update code
                    result_element.innerHTML = elem.value.replace(new RegExp("&", "g"), "&amp;").replace(new RegExp("<", "g"), "&lt;"); /* Global RegExp */
                    // Syntax Highlight
                    Prism.highlightElement(result_element);
                }
                function sync_scroll(element) {
                    /* Scroll result to scroll coords of event - sync with textarea */
                    let result_element = document.querySelector("#highlighting");
                    // Get and set x and y
                    result_element.scrollTop = element.scrollTop;
                    result_element.scrollLeft = element.scrollLeft;
                }

                function check_tab(element, event) {
                    let code = element.value;
                    if (event.key == "Tab") {
                        /* Tab key pressed */
                        event.preventDefault(); // stop normal
                        let before_tab = code.slice(0, element.selectionStart); // text before tab
                        let after_tab = code.slice(element.selectionEnd, element.value.length); // text after tab
                        let cursor_pos = element.selectionStart + 1; // where cursor moves after tab - moving forward by 1 char to after tab
                        element.value = before_tab + "\t" + after_tab; // add tab char
                        // move cursor
                        element.selectionStart = cursor_pos;
                        element.selectionEnd = cursor_pos;
                        update(element.value); // Update text to include indent
                    }
                }
            </script>
        }
        else if(Model.Item1.PatternOfWork == 1)
        {
            <p type="text" class="addtext-development"> @Model.Item1.TextBlockOne</p>
            <div class="codetext-development">
                <textarea id="editor" onchange="Load()"> </textarea>
            </div>
            <script type="text/javascript">
                var encodedText = '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(@Model.Item1.TextBlockTwo))';
                var editor = CodeMirror.fromTextArea
                    (document.getElementById('editor'), {
                        mode: "xml",
                        theme: "eclipse",
                        autoCloseTags: true,
                        tabSize: 5,
                        lineNumbers: true
                    });
                editor.setValue(encodedText);

                editor.eachLine(line => {
                    editor.indentLine(editor.getLineNumber(line), "smart");
                });
                function Load() {
                    const event = new Event('change');
                    let type = document.querySelector('.typeOfWorkInput');
                    let tbinput = document.querySelector('.tbTwoInput');
                    let editor1 = document.querySelector('.CodeMirror').CodeMirror;
                    if (type.value == 1) {
                        tbinput.value = editor1.getValue();
                        let val = editor1.getValue();
                        tbinput.setAttribute('value', val);
                        tbinput.dispatchEvent(event);
                    }
                }

                window.initializeDownloadButton = function (downloadButton) {
                    downloadButton.addEventListener('click', function () {
                        Load();
                    });
                }
            </script>
            <div class="add-file">
                <label for="file-input-file">
                    <img src="../images/add-file.svg">
                </label>
                @if (Model.Item7 != null)
                {
                    int pos = Model.Item7.FilePath.LastIndexOf("/") + 1;
                    <a href="@Model.Item7.FilePath"><p>@Model.Item7.FilePath.Substring(pos, Model.Item7.FilePath.Length - pos)</p></a>
                }
                <InputFile id="file-input-file" type="file" name="file-input-file" OnChange="LoadFile" style="display:none;" />
            </div>

            <div class="slideshow-container2">

                <!-- Full-width images with number and caption text -->
                @if (Model.Item5.Count() != 0)
                {
                    @foreach (var image in Model.Item5)
                    {
                        <div class="mySlides fade">
                            <img src="@image.Image" style="width:1000px">
                        </div>
                    }
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                }
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                @if (Model.Item5.Count() != 0)
                {
                    @for (var i = 1; i < Model.Item5.Count() + 1; i++)
                    {
                        <span class="dot" onclick="currentSlide(i)"></span>
                    }
                }
            </div>
            <script>
                var slideIndex = 1;
                showSlides(slideIndex);

                // Next/previous controls
                function plusSlides(n) {
                    showSlides(slideIndex += n);
                }

                // Thumbnail image controls
                function currentSlide(n) {
                    showSlides(slideIndex = n);
                }

                function showSlides(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    if (n > slides.length) {
                        slideIndex = 1
                    }
                    if (n < 1) {
                        slideIndex = slides.length
                    }
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active";
                }
                function autoResize(elem) {
                    // elem.style.height = '100';
                    // elem.style.height = (elem.scrollHeight+10) + 'px';
                    let result_element = document.querySelector("#highlighting-content");
                    // Handle final newlines (see article)
                    if (elem.value[elem.value - 1] == "\n") {
                        elem.value += " ";
                    }
                    // Update code
                    result_element.innerHTML = elem.value.replace(new RegExp("&", "g"), "&amp;").replace(new RegExp("<", "g"), "&lt;"); /* Global RegExp */
                    // Syntax Highlight
                    Prism.highlightElement(result_element);
                }
                function sync_scroll(element) {
                    /* Scroll result to scroll coords of event - sync with textarea */
                    let result_element = document.querySelector("#highlighting");
                    // Get and set x and y
                    result_element.scrollTop = element.scrollTop;
                    result_element.scrollLeft = element.scrollLeft;
                }

                function check_tab(element, event) {
                    let code = element.value;
                    if (event.key == "Tab") {
                        /* Tab key pressed */
                        event.preventDefault(); // stop normal
                        let before_tab = code.slice(0, element.selectionStart); // text before tab
                        let after_tab = code.slice(element.selectionEnd, element.value.length); // text after tab
                        let cursor_pos = element.selectionStart + 1; // where cursor moves after tab - moving forward by 1 char to after tab
                        element.value = before_tab + "\t" + after_tab; // add tab char
                        // move cursor
                        element.selectionStart = cursor_pos;
                        element.selectionEnd = cursor_pos;
                        update(element.value); // Update text to include indent
                    }
                }
            </script>
        }
        else if(Model.Item1.PatternOfWork == 2)
        {
            <p class="addtext-development"> @Model.Item1.TextBlockOne</p>
            @if(Model.Item5.Count() != 0)
            {
                <div id="photos" class="photos">
                    <div>
                        <label for="file-input1">
                            @if (Model.Item5.ToList()[0] != null)
                            {
                                <img src="@Model.Item5.ToList()[0].Image">
                            }
                        </label>
                        <label for="file-input2">
                            @if (Model.Item5.ToList()[1] != null)
                            {
                                <img src="@Model.Item5.ToList()[1].Image">
                            }
                        </label>
                    </div>
                    <label class="vertical" for="file-input3">
                        @if (Model.Item5.ToList()[2] != null)
                        {
                            <img src="@Model.Item5.ToList()[2].Image">
                        }
                    </label>
                    }

                </div>
            }
        }
        else if(Model.Item1.PatternOfWork == 3)
        {
            <p class="addtext-development">@Model.Item1.TextBlockOne</p>
            @if (Model.Item5.Count() != 0)
            {
                <div class="slideshow-container2">
                    @foreach (var image in Model.Item5)
                    {
                        <div class="mySlides2 fade">
                            <img src="@image.Image" style="width:1000px">
                        </div>
                    }
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                 <!-- The dots/circles -->
                 <div style="text-align:center">
                     @for (var i = 1; i < Model.Item5.Count() + 1; i++)
                     {
                         <span class="dot2" onclick="currentSlide(i)"></span>
                     }
                 </div>

                 <script>
                     var slideIndex = 1;
                     showSlidesDesigning(slideIndex);

                     // Next/previous controls
                     function plusSlidesDesigning(n) {
                         showSlidesDesigning(slideIndex += n);
                     }

                     // Thumbnail image controls
                     function currentSlideDesigning(n) {
                         showSlidesDesigning(slideIndex = n);
                     }

                     function showSlidesDesigning(n) {
                         var i;
                         var slides = document.getElementsByClassName("mySlides2");
                         var dots = document.getElementsByClassName("dot2");
                         if (n > slides.length) {
                             slideIndex = 1
                         }
                         if (n < 1) {
                             slideIndex = slides.length
                         }
                         for (i = 0; i < slides.length; i++) {
                             slides[i].style.display = "none";
                         }
                         for (i = 0; i < dots.length; i++) {
                             dots[i].className = dots[i].className.replace(" active", "");
                         }
                         slides[slideIndex - 1].style.display = "block";
                         dots[slideIndex - 1].className += " active";
                     }
                 </script>
            }
        }
        else if(Model.Item1.PatternOfWork == 4)
        {
            @if (Model.Item1.TextBlockOne != null)
            {
                <div class="article">
                    <p class="article-text">@Model.Item1.TextBlockOne</p>
                    @if (Model.Item5.Count() != 0 && Model.Item5.ToList()[0] != null)
                    {
                        <img src="@Model.Item5.ToList()[0].Image">
                    }
                </div>
            }
            @if (Model.Item1.TextBlockTwo != null)
            {
                <div class="article">
                    @if (Model.Item5.Count() != 0 && Model.Item5.ToList()[1] != null)
                    {
                        <img src="@Model.Item5.ToList()[1].Image">
                    }
                    <p class="article-text">@Model.Item1.TextBlockTwo</p>
                </div>
            }
            @if (Model.Item1.TextBlockThree != null)
            {
                <div class="article">
                    <p class="article-text">@Model.Item1.TextBlockThree</p>
                    @if (Model.Item5.Count() != 0 && Model.Item5.ToList()[2] != null)
                    {
                        <img src="@Model.Item5.ToList()[2].Image">
                    }
                </div>
            }
        }
    </section>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
    <section class="bottom-comments">
        <div class="raiting">
            <form class="ajax-form" method="post" enctype="multipart/form-data" action="/work/@Model.Item1.WorkId/rate1">
                <input type="hidden" name="UserId" value="@Model.Item1.UserId" />
                @Html.AntiForgeryToken()
                @if(Model.Item4.Grade == 1)
                {
                    <button class="raiting-button first-raiting raiting-round" alt="grade 1" value="1" name="Grade_1"><span>1</span></button>

                }
                else{
                    <button class="raiting-button first-raiting" alt="grade 1" value="1" name="Grade_1"><span>1</span></button>
                }
            </form>
            <form class="ajax-form" method="post" enctype="multipart/form-data" action="/work/@Model.Item1.WorkId/rate2">
                <input type="hidden" name="UserId" value="@Model.Item1.UserId" />
                @Html.AntiForgeryToken()
                @if (Model.Item4.Grade == 2)
                {
                    <button class="raiting-button second-raiting raiting-round" alt="grade 2" value="1" name="Grade_2"><span>2</span></button>

                }
                else
                {
                    <button class="raiting-button second-raiting" alt="grade 2" value="2" name="Grade_2"><span>2</span></button>
                }
            </form>

            <form class="ajax-form" method="post" enctype="multipart/form-data" action="/work/@Model.Item1.WorkId/rate3">
                <input type="hidden" name="UserId" value="@Model.Item1.UserId" />
                @Html.AntiForgeryToken()
                @if (Model.Item4.Grade == 3)
                {
                    <button class="raiting-button third-raiting raiting-round" alt="grade 3" value="3" name="Grade_3"><span>3</span></button>

                }
                else
                {
                    <button class="raiting-button third-raiting" alt="grade 3" value="3" name="Grade_3"><span>3</span></button>
                }
            </form>
            <form class="ajax-form" method="post" enctype="multipart/form-data" action="/work/@Model.Item1.WorkId/rate4">
                <input type="hidden" name="UserId" value="@Model.Item1.UserId" />
                @Html.AntiForgeryToken()
                @if (Model.Item4.Grade == 4)
                {
                    <button class="raiting-button fourth-raiting raiting-round" alt="grade 4" value="4" name="Grade_4"><span>4</span></button>

                }
                else
                {
                    <button class="raiting-button fourth-raiting" alt="grade 4" value="4" name="Grade_4"><span>4</span></button>
                }
            </form>

            <form class="ajax-form" method="post" enctype="multipart/form-data" action="/work/@Model.Item1.WorkId/rate5">
                <input type="hidden" name="UserId" value="@Model.Item1.UserId" />
                @Html.AntiForgeryToken()
                @if (Model.Item4.Grade == 5)
                {
                    <button id="myButton" class="raiting-button fifth-raiting raiting-round" alt="grade 5" value="5" name="Grade_4"><span>5</span></button>

                }
                else
                {
                    <button class="raiting-button fifth-raiting" alt="grade 5" value="5" name="Grade_5"><span>5<span></button>
                }
            </form>
            
            


        </div>
        <h2>
            Комментарии
        </h2>
        <form class="ajax-form" method="post" enctype="multipart/form-data" action="/work/@Model.Item1.WorkId/AddComment">
            <textarea id ="textArea" name="Content" class="autoresize" oninput="autoResize(this)" row=1 placeholder="Написать комментарий..." maxlength="1000"></textarea>
            <p style="text-align:right;" id="count"></p>
        </form>
        <script>
            
            function submitOnEnter(event) {
                if (event.which === 13) {
                    if (!event.repeat) {
                        const newEvent = new Event("submit", { cancelable: true });
                        let area = document.getElementById("textArea");
                        if(area.value.length>0)
                        event.currentTarget.closest("form").submit();
                    }

                    event.preventDefault(); // Prevents the addition of a new line in the text field
                }
            }

            document.getElementById("textArea").addEventListener("keydown", submitOnEnter);
            document.getElementById('textArea').onkeyup = function () {
                document.getElementById('count').innerHTML = this.value.length+"/1000";
            };
        </script>
        <script>
            function autoResize(elem) {
                elem.style.height = '200';
                elem.style.height = (elem.scrollHeight-1) + 'px';
            }
        </script>

        <div class="comments">
            @foreach (var comment in Model.Item2)
            {
                <div class="current-comment">
                    <a href="/resume/@comment.UserId"><div class="photo-comments"><img src="@comment.ImagePath"></div></a>
                    <div class="name-comment-container">
                        <div class="name"><p>@comment.NickName</p></div>
                        <div class="comment"><p>@comment.Content</p></div>
                    </div>
                    <div class="more">
                        <button class="answer">Ответить</button>
                        <button class="element-3" id="element-3">Ответы <img src="../images/more-arrow.svg"></button>
                    </div>
                    <div class="element-1" id="element-1">
                        @foreach (var answerComment in Model.Item3)
                        {
                            if(answerComment.CommentId == comment.Id)
                            {
                                <div id="element-2">
                                    <div class="one-comment">
                                        <div class="photo-comments"><img src="@answerComment.ImagePath"></div>
                                        <div class="name-answercomment-container">
                                            <div class="name"><p>@answerComment.NickName</p></div>
                                            <div class="comment"><p>@answerComment.Content</p></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="answer-box">
                        <form class="ajax-form" method="post" enctype="multipart/form-data" action="/work/@Model.Item1.WorkId/AddAnswerComment">
                            <input type="hidden" name="CommentId" value="@comment.Id" />
                            @Html.AntiForgeryToken()
                            <input class="answer-input" name="AnswerContent" type="text" placeholder="Написать ответ" maxlength="150">
                            <div class="answer-buttons">
                                <button class="cancel" type="button">Отменить</button>
                                <button class="send-answer" type="button">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
            <script type="text/javascript">
                let answerBoxes = document.querySelectorAll('.answer-box');

                for (let box of answerBoxes) {
                    let btns = box.querySelector('.answer-buttons');
                    let input = box.querySelector('.answer-input');
                    let btnAnswer = btns.querySelector('.send-answer');
                    let cancel = btns.querySelector('.cancel')
                    btnAnswer.onclick = function (event) {
                        if (input.value.length > 0)
                            event.currentTarget.closest("form").submit();
                    };
                };
            </script>

        <script>
            let comments = document.querySelectorAll('.current-comment');

            for (let comment of comments) {
                let more = comment.querySelector('.more');
                let btnAnswer = more.querySelector('.answer');
                let btnShow = more.querySelector('.element-3');
                let element1 = comment.querySelector('.element-1');
                let textBox = comment.querySelector('.answer-box');
                let cancel = comment.querySelector('.cancel')
                btnShow.onclick = function () {
                    element1.classList.toggle('show');
                };
                btnAnswer.onclick = function (event) {
                    textBox.classList.toggle('show');
                    element1.classList.remove('show');
                };
                cancel.onclick = function (){
                    textBox.classList.remove('show');
                    
                }
            };
        </script>
        <script>
            // Восстановление позиции прокрутки
            $(document).ready(function () {
                if (localStorage.getItem('scrollPosition')) {
                    $(window).scrollTop(localStorage.getItem('scrollPosition'));
                    localStorage.removeItem('scrollPosition');
                }
            });
        </script>

    </section>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="mainLogo2">
            <img src="../images/logo.png">
        </div>
        <p class="bottom-slogan">
            Show Work - Ваш путь к вдохновению и успеху в цифровом мире!
        </p>
        <div class="bottom-links">
            <a href="index.html">Главная</a>
            <a href="#">Каталог</a>
            <a href="#">Мои подписки</a>
        </div>
    </footer>
</body>
